@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  width: 40px;
  height: 40px;
  color: #000; 
  opacity: 0.8;
  transition: opacity 0.3s ease;
  
}

.custom-carousel .slick-prev:hover,
.custom-carousel .slick-next:hover {
  opacity: 1;
}

.custom-carousel .slick-prev {
  left: -30px; 
}

.custom-carousel .slick-next {
  right: -50px; 
}

.dark .custom-carousel .slick-prev,
.dark .custom-carousel .slick-next {
  color: #fff; 
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.aniCard {
  position: relative;
  display: flex;
}

.aniCard::before,
.aniCard::after {
  content: "";
  width: 102%;
  height: 102%;
  border-radius: 16px;
  position: absolute;
  top: -1%;
  left: -1%;
  opacity: 1; 
  z-index: -1;
  transition: opacity 0.5s; 
}


.aniCard:hover::before,
.aniCard:hover::after {
  background-image:conic-gradient(from var(--angle), #5ddcff, #3c67e3 43%, #4e00c2,#5ddcff);
  animation: spin 2.5s linear infinite;
  opacity: 1;
}



@keyframes spin {
  from  {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(var(--rotate), #3c67e3 , #5ddcff, #4e00c2);
  z-index: -1;
  transition: 0.8s;
  border-radius: 50px;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 100% 100% 0% 0%;
}
.btn2::before,.btn4::before{
  bottom: 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  width: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

.glow-box{ 
  border:solid;
  border-color: rgba(0,255,255,1);
  box-shadow:0px 0px 20px 5px #0ff;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.roundcard{
position: relative;
}

.roundcard::after,.roundcard::before {
  content: '';
  position: absolute;
  height: 105%;
  width: 102%;
  background-image: conic-gradient(#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
 border-radius: 12px;
 animation: 3s spin linear infinite;
}
.roundcard:hover::after,.roundcard:hover::before {
  content: '';
  position: absolute;
  height: 105%;
  width: 102%;
  background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
 border-radius: 12px;
 animation: 3s spin linear infinite;
}
.roundcard::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
 from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.skeleton{
  position: relative;
}

.skeleton::after{
  content: '';
  position: absolute;
  height: 135%;
  width: 50%;
  top: 50%;
  left: -20%;
  z-index: -2;
  border: dashed black;
  border-width: 3px 0px 0px 3px;
}
.skeleton:last-child::after {
  border-width: 3px 0px 0px 0px;
}
.dark .skeleton::after {
  border-color: white;
}
@media (max-width: 1000px) {
  .skeleton::after {
    display: none;
  }
}

.oneColor{
  position: relative;
}

.oneColor::after,.oneColor::before {
  content: '';
  position: absolute;
  height: 105%;
  width: 102%;
  background-image: conic-gradient(from var(--angle),transparent 40%,cyan);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
 border-radius: 12px;
 animation: 3s spin linear infinite;
}
.oneColor::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}